.i-folders {
  font-size: 80px;
}

.i-folders .fa-folder,
.fa-book {
  color: #b3373f;
}

.icon-link {
  text-decoration: none !important;
  color: #b3373f;
}

.icon-link-icon {
  color: #b3373f;
  cursor: pointer;
}

.icon-link-icon:hover {
  color: var(--maroon);
}
