/*NETWORK LIBRARIES*/
#carouselExampleIndicators {
  min-height: 480px;
}
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-btn {
  background-color: #800000;
  border: none;
  outline: none;
}

.carousel-btn:hover {
  background-color: #800000;
  color: #ffd700;
}
