/*TOP  NAVBAR */

#spanLogo {
  color: #ffd700;
  font-size: 70px;
}

#spanLogo2 {
  color: #ffd700;
}

#divLogo {
  color: #800000;
  font-family: arial-bold;
  font-size: 80px;
}

.logolink,
.logolink:hover {
  text-decoration: none;
}

#navbarNavRight .navbar-nav .nav-item .navbar {
  display: block;
}

.profile-dropdown {
  color: #800000;
  display: inline-flex;
}

#navbarNavRight .navbar-nav .nav-item .navbar i {
  color: #800000;
}

#navbarNavRight .navbar-nav .nav-item .navbar {
  text-decoration: none;
}

#navbarNavRight .navbar-nav .nav-item.nav-item-last {
  border-right: 1px #800000 solid;
  height: 40px;
}

.icon-font {
  color: black;
}

.icon-font.icon-font-medium {
  font-size: 20px;
}

.icon-font.icon-font-large {
  font-size: 23px;
}

#imgFlagIcons {
  width: 20px;
}

#formProfileIcon {
  background-color: #800000;
  padding: 5px;
  border-radius: 5px;
}

#searchProfileIcon {
  color: #ffffff;
  padding: 0 10px 0 10px;
}

#navbarNavLowRight .navbar-nav .nav-item.nav-item-last {
  border-right: 1px white solid;
  height: 40px;
}

/*LEFT NAVBAR*/
.span {
  color: #ffffff;
}

hr {
  background-color: #800000;
  height: 0.3%;
  margin-top: 0;
  margin-bottom: 0;
}

#blankDiv {
  background-color: #f0f0f0;
}

.book-btn {
  min-width: 160px;
  max-width: 160px;
  overflow: hidden;
  margin: 10px;
  background-color: white;
  transition-duration: 0.2s;
}

.book-btn:hover {
  background-color: #fff7cc;
}

/*NETWORK LIBRARIES*/
.card-read-more {
  border-top: 1px solid #d4d4d4;
}
.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.i-folders {
  font-size: 80px;
}

.i-folders .fa-folder,
.fa-book {
  color: #800000;
}

#divLogo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* LOGIN */
.icon-link {
  text-decoration: none;
  text-decoration: none !important;
  color: #800000;
}

.icon-link-icon {
  transition-duration: 0.5s;
  cursor: pointer;
}

.icon-link-icon:hover {
  color: #d1b104;
}

.login {
  top: 600px;
  width: 600px;
  border-radius: 10px;
}
.login-body {
  margin-top: 20%;
  margin-bottom: 30%;
  padding: 10px 10px 10px 10px;
}
.login h1 {
  font-family: "Verdana";
  text-align: center;
  margin-top: 10px;
  padding: 0 0 20px 0;
  font-style: normal;
  font-weight: 750;
  font-size: 2rem;
  color: #ffffff;
}
.login form {
  padding: 0 40px;
  box-sizing: border=box;
}
.panel-transparent {
  background: #343a40;
  border-radius: 15px;
  align-content: center;
}
.forgot-password {
  margin-top: 5px;
  color: #ffffff;
  cursor: pointer;
}

#login-button {
  border: none;
  background-color: white;
  padding: 5px 20px;
  transition-duration: 0.2s;
}

#login-button:hover {
  background-color: rgb(255, 240, 158);
}

.login-inputs {
  padding: 5px;
  outline: none;
}

.login-citlogo {
  width: 250px;
  height: 250px;
  opacity: 0.5;
  z-index: -2;
}

.login-citlogo.under {
  position: absolute;
  right: 70px;
  bottom: 250px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

.login-citlogo.over {
  position: fixed;
  right: 70px;
  bottom: 250px;
  z-index: -1;
}

.login-citlogo.topGear {
  position: fixed;
  right: -120px;
  bottom: 400px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 5s linear infinite;
  animation-direction: reverse;
}
.login-citlogo.bottomGear {
  position: fixed;
  right: -120px;
  bottom: 100px;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 5s linear infinite;
  animation-direction: reverse;
}
/*use keyframes*/
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.card-body.collection-folders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
