{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="card">
		  <div class="card-header"><i class="fas fa-headphones"></i>     Audiobooks |
			<div class="navbar-text" id="navbarNavRight">
				<a class="buttons" href="#">
					<i class="fas fa-plus-square"></i>
				</a>
				<a class="buttons" href="#">
					<i class="fas fa-minus-circle"></i>
				</a>
				<a class="buttons" href="#">
					<i class="fas fa-edit"></i>
				</a>
			
			</div>	
		</div>
		  
		</div>
		<div class="card-body collection-folders">
      {% for book in books %}
      <form action="" method="POST" id="">
        <!-- NO ACTION AND ID YET -->
        {% csrf_token %} {% include './components/TheBook.html' %}
        <!-- see components/TheBook.html for codes here -->
      </form>
      {% endfor %}
    </div>
  </div>
		</div>
</div>
{% endblock content %}
