{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span>
        <span>
          <i class="fas fa-headphones icon-link"></i>
          <a
            class="icon-link icon-link-icon"
            href='{% url "cifir:audiobooks_view" %}'
          >
            Audiobooks |
          </a>
        </span>
        <span>
          <i class="fas fa-plus-square icon-link"></i>
          <i class="fas fa-minus-circle icon-link"></i>
          <i class="fas fa-edit icon-link"></i>
        </span>
      </span>
    </div>
  </div>
</div>
<div class="card-body collection-folders">
  {% for book in books %}
  <form action="" method="POST" id="">
    <!-- NO ACTION AND ID YET -->
    {% csrf_token %} {% include './components/TheBook.html' %}
    <!-- see components/TheBook.html for codes here -->
  </form>
  {% endfor %}
</div>
{% endblock content %}
