{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="card">
		  <div class="card-header"><i class="fas fa-headphones"></i>     Audiobooks |
			<div class="navbar-text" id="navbarNavRight">
				<a class="buttons" href="#">
					<i class="fas fa-plus-square"></i>
				</a>
				<a class="buttons" href="#">
					<i class="fas fa-minus-circle"></i>
				</a>
				<a class="buttons" href="#">
					<i class="fas fa-edit"></i>
				</a>
			
			</div>	
		</div>
		  
		</div>
			<div class="card-body">
				<div class="i-folders">
					<i class="fas fa-book"></i></div>
				<h6>Book Name</h6>

				<div class="i-folders">
					<i class="fas fa-book"></i></div>
					<h6>Book Name</h6>
			</div>   
		</div>
</div>
{% endblock content %}
