{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span>
        <i class="far fa-bookmark icon-link"></i>
        <a
          class="icon-link icon-link-icon"
          href='{% url "cifir:bookmarks_view" %}'
        >
          Bookmarks
        </a>
      </span>
    </div>
    <div class="card-body collection-folders">
      {% for book in books %}
      <form action="" method="POST" id="">
        <!-- NO ACTION AND ID YET -->
        {% csrf_token %} {% include './components/TheBook.html' %}
        <!-- see components/TheBook.html for codes here -->
      </form>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
