{% extends "base.html" %} {% load static %} {% block extrascriptheader %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>

{% endblock extrascriptheader %} {% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      {% for book in books %}
      <span>
        <i class="fas fa-book"></i>
        {{book.title}}
        <p id="book1" hidden>{{ book.file }}</p>
      </span>

      <span class="text-right">
        <span class="field-search">
          <input
            class="input-search"
            type="text"
            name="search"
            id="input-search"
            placeholder="Enter Search..."
            on
          />
          <i
            class="fas fa-search icon-search"
            id="btn-search"
            onclick="search()"
          ></i>
        </span>
        <i
          class="fas fa-bookmark icon-link icon-link-icon"
          onclick="bookmarkBook('{{book.id}}')"
        ></i>
        <i
          class="far fa-bookmark icon-link icon-link-icon"
          onclick="bookmarkBook('{{book.id}}')"
        ></i>
      </span>
      {% endfor %}
    </div>
    <div class="card-body">
      <!-- <div class="d-none">
        {% for book in books %}
        <p id="book1">{{ book.file }}</p>
        {% endfor %}
      </div> -->
      <div
        id="viewer"
        class="continuous"
        style="margin: auto; overflow: hidden; max-width: 1024px"
      ></div>
    </div>
  </div>
</div>
{% endblock content %} {% block extrascriptfooter %}
<script defer>
  var input = document.getElementById("input-search");

  // Execute a function when the user releases a key on the keyboard
  input.addEventListener("keyup", function (event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
      console.log("object");
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      document.getElementById("btn-search").click();
    }
  });

  function search() {
    alert("search");
  }
  // Epub Reader Library
  // https://github.com/futurepress/epub.js

  var book = ePub();
  var rendition;

  var inputElement = document.getElementById("input");
  var bookElement = document.getElementById("book1");

  var url = window.location.protocol + "//" + window.location.hostname;
  if (window.location.port) url += ":" + window.location.port;

  fetch(url + "/media/" + bookElement.innerHTML)
    .then((response) => response.blob())
    .then(function (myBlob) {
      console.log(myBlob);
      var reader = new FileReader();
      reader.onload = openBook;
      reader.readAsArrayBuffer(myBlob);
      console.log("done");
    });

  // inputElement.addEventListener("change", function (e) {
  //   console.log("asdasd");
  //   var file = e.target.files[0];
  //   if (window.FileReader) {
  //     var reader = new FileReader();
  //     reader.onload = openBook;
  //     reader.readAsArrayBuffer(file);
  //   }
  // });

  function openBook(e) {
    var bookData = e.target.result;

    book.open(bookData, "binary");
    // document.getElementById("viewer").innerHTML = "";

    rendition = book.renderTo("viewer", {
      manager: "continuous",
      flow: "scrolled",
      width: "100%",
      height: "100%",
    });

    rendition.display();
  }

  function bookmarkBook(book_id) {
    console.log("test");
    console.log(book_id);
    // post('{% url "cifir:epub_view" %}', {
    //   book_id,
    //   csrfmiddlewaretoken: "{{csrf_token}}",
    // });
  }

  function post(path, params, method = "post") {
    const form = document.createElement("form");
    form.method = method;
    form.action = path;

    for (const key in params) {
      if (params.hasOwnProperty(key)) {
        const hiddenField = document.createElement("input");
        hiddenField.type = "hidden";
        hiddenField.name = key;
        hiddenField.value = params[key];

        form.appendChild(hiddenField);
      }
    }
    document.body.appendChild(form);
    form.submit();
  }
</script>
{% endblock extrascriptfooter %}
