{% extends "base.html" %} {% load static %} {% block extrascriptheader %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>

{% endblock extrascriptheader %} {% block content %}
<div class="container-fluid">
  <div class="card">
  <div class="card-header"> <i class="far fa-bookmark"></i> Book</div>
    <div class="card-body">
      <div id="title" class="d-none"><input type="file" id="input" /></div>
      <div class="d-none">
        {% for book in books %}
        <p id="book1">{{ book.file }}</p>
        {% endfor %}
      </div>
      <div
        id="viewer"
        class="continuous"
        style="margin: auto; overflow: hidden; max-width: 1024px"
      ></div>
    </div>
  </div>
</div>
{% endblock content %} {% block extrascriptfooter %}
<script defer>
  // Epub Reader Library
  // https://github.com/futurepress/epub.js

  var book = ePub();
  var rendition;

  var inputElement = document.getElementById("input");
  var bookElement = document.getElementById("book1");

  var url = window.location.protocol + "//" + window.location.hostname;
  if (window.location.port) url += ":" + window.location.port;

  fetch(url + "/media/" + bookElement.innerHTML)
    .then((response) => response.blob())
    .then(function (myBlob) {
      console.log(myBlob);
      var reader = new FileReader();
      reader.onload = openBook;
      reader.readAsArrayBuffer(myBlob);
      console.log("done");
    });

  // inputElement.addEventListener("change", function (e) {
  //   console.log("asdasd");
  //   var file = e.target.files[0];
  //   if (window.FileReader) {
  //     var reader = new FileReader();
  //     reader.onload = openBook;
  //     reader.readAsArrayBuffer(file);
  //   }
  // });

  function openBook(e) {
    var bookData = e.target.result;
    var title = document.getElementById("title");

    book.open(bookData, "binary");
    // document.getElementById("viewer").innerHTML = "";

    rendition = book.renderTo("viewer", {
      manager: "continuous",
      flow: "scrolled",
      width: "100%",
      height: "100%",
    });

    rendition.display();
  }
</script>
{% endblock extrascriptfooter %}
