{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<span>
				<i class="far fa-star icon-link"></i>
				<a class="icon-link icon-link-icon" href='{% url "cifir:favorites_view" %}'>
					Favorites
				</a>
			</span>
		</div>
			<div class="card-body collection-folders">
				{% for book in books %}
				<div class="i-folders">
					{% if book.cover %}
						<img src="{{book.cover.url}}"alt ="{{book.title}}"
						style ="height: 160px; width:110px">
					{% endif %}
					<h6>{{book.title}}</h6>
                </div>
                {% endfor %}
				
		</div>   
	</div>
</div>
{% endblock content %}

