{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="card">
		<div class="card-header"><i class="fas fa-book-reader"></i>     Favorites</div>
			<div class="card-body">
				{% for book in books %}
				<div class="i-folders">
					{% if book.cover %}
						<img src="{{book.cover.url}}"alt ="{{book.title}}"
						style ="height: 160px; width:110px">
					{% else %}
						<span class = "text-muted">No Cover</span>
					{% endif %}
					<h6> {{book.title}} </h6>
                </div>
                {% endfor %}
				
		</div>   
	</div>
</div>
{% endblock content %}
