{% extends "base.html" %} {% load static %} {% block content %}
<br />
{% if user.is_authenticated %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-book icon-link"></i>
      <span class="icon-link icon-link-icon">Books</span>
    </div>
    <div class="card-body collection-folders">
      {% for book in books %}
      <form action="/cifir/epub/" method="POST" id="bookform">
        <!-- NO ACTION AND ID YET -->
        {% csrf_token %}
        <!-- <button
          type="submit"
          class="btn btn-light"
          name="book"
          value="{{book.name}}"
          form="bookform"
        >
          <div class="i-folders">
            <i class="fas fa-book"></i>
          </div>
          <h6>{{ book.title}}</h6>
          <input type="text" name="book_id" value="{{book.id}}" hidden />
        </button> -->
        {% include './components/TheBook.html' %}
      </form>
      {% endfor %}
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-book-reader icon-link"></i>
      <a
        class="icon-link icon-link-icon"
        href='{% url "cifir:collections_view" %}'
      >
        Collections
      </a>
    </div>
    <div class="card-body collection-folders">
      {% for collection in collections %}
      <form action="/cifir/books/" method="POST" id="collectionform">
        {% csrf_token %} {% include './components/TheFolder.html' %}
      </form>
      {% endfor %}
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-globe icon-link"></i>
      <span class="icon-link icon-link-icon">Network Libraries</span>
    </div>
    <section class="pt-5">
      <div class="container">
        {% include './components/NetworkLibrariesCarousel.html' %}
      </div>
    </section>
  </div>
</div>
{% endif %} {% endblock content %}
