{% extends "base.html" %} {% load static %} {% block content %}
<div class="card">
  <div class="card-header">
    <span>
      <i class="fas fa-globe icon-link"></i>
      <a
        class="icon-link icon-link-icon"
        href='{% url "cifir:networklibraries_view" %}'
      >
        Network Libraries
      </a>
    </span>
  </div>
  <section class="pt-5 pb-5">
    <div class="container">
      {% include './components/NetworkLibrariesCarousel.html' %}
    </div>
  </section>
</div>
{% endblock content %}
